
.hooks {
  --active-0: initial;
  --active-1: ;
  --checked-0: initial;
  --checked-1: ;
  --disabled-0: initial;
  --disabled-1: ;
  --even-child-0: initial;
  --even-child-1: ;
  --first-child-0: initial;
  --first-child-1: ;
  --focus-0: initial;
  --focus-1: ;
  --focus-visible-0: initial;
  --focus-visible-1: ;
  --focus-within-0: initial;
  --focus-within-1: ;
  --hover-0: initial;
  --hover-1: ;
  --last-child-0: initial;
  --last-child-1: ;
  --odd-child-0: initial;
  --odd-child-1: ;
}

.hooks:active {
  --active-0: ;
  --active-1: initial;
}

.hooks:checked {
  --checked-0: ;
  --checked-1: initial;
}

.hooks:disabled {
  --disabled-0: ;
  --disabled-1: initial;
}

.hooks:nth-child(even) {
  --even-child-0: ;
  --even-child-1: initial;
}

.hooks:first-child {
  --first-child-0: ;
  --first-child-1: initial;
}

.hooks:focus {
  --focus-0: ;
  --focus-1: initial;
}

.hooks:focus-visible {
  --focus-visible-0: ;
  --focus-visible-1: initial;
}

.hooks:focus-within {
  --focus-within-0: ;
  --focus-within-1: initial;
}

.hooks:hover {
  --hover-0: ;
  --hover-1: initial;
}

.hooks:last-child {
  --last-child-0: ;
  --last-child-1: initial;
}

.hooks:nth-child(odd) {
  --odd-child-0: ;
  --odd-child-1: initial;
}
