@import "@fontsource-variable/assistant";
@import "@fontsource-variable/inconsolata";
@import "@fontsource-variable/geist";

html {
  overflow-y: scroll;
}

html,
body {
  min-height: 100%;
}

body {
  display: flex;
  align-items: stretch;
}