:root {
  --white: #fbfbfc;
  --black: #141418;

  --gray-50: #f7f7f8;
  --gray-100: #eeedf1;
  --gray-200: #d7d7e0;
  --gray-300: #b5b4c5;
  --gray-400: #8c8ca4;
  --gray-500: #6e6d8a;
  --gray-600: #595871;
  --gray-700: #49485c;
  --gray-800: #3f3e4e;
  --gray-900: #383743;
  --gray-950: #282730;

  --red-50: #fdf3f3;
  --red-100: #fce4e4;
  --red-200: #fbcdcd;
  --red-300: #f7aaaa;
  --red-400: #f07979;
  --red-500: #e54e4e;
  --red-600: #d13131;
  --red-700: #af2626;
  --red-800: #912323;
  --red-900: #792323;
  --red-950: #480f0f;

  --yellow-50: #fffeea;
  --yellow-100: #fffac5;
  --yellow-200: #fff685;
  --yellow-300: #ffea46;
  --yellow-400: #ffdb1b;
  --yellow-500: #ffbb00;
  --yellow-600: #e29000;
  --yellow-700: #bb6502;
  --yellow-800: #984e08;
  --yellow-900: #7c400b;
  --yellow-950: #482100;

  --green-50: #f1faeb;
  --green-100: #ddf4d3;
  --green-200: #bfebab;
  --green-300: #96dc7a;
  --green-400: #72ca51;
  --green-500: #52b032;
  --green-600: #3d8c24;
  --green-700: #316b20;
  --green-800: #2a551f;
  --green-900: #26491e;
  --green-950: #15340f;

  --blue-50: #f0f8fe;
  --blue-100: #ddeefc;
  --blue-200: #c2e3fb;
  --blue-300: #98d2f8;
  --blue-400: #68b9f2;
  --blue-500: #53a3ee;
  --blue-600: #2f7fe1;
  --blue-700: #2669cf;
  --blue-800: #2556a8;
  --blue-900: #234a85;
  --blue-950: #1a2f51;

  --purple-50: #faf7fc;
  --purple-100: #f6eef9;
  --purple-200: #ecdcf2;
  --purple-300: #ddc0e7;
  --purple-400: #ca9ad8;
  --purple-500: #b071c4;
  --purple-600: #9552a7;
  --purple-700: #7c4289;
  --purple-800: #663771;
  --purple-900: #56315e;
  --purple-950: #38183e;

  --pink-50: #fbf4f8;
  --pink-100: #f9eaf4;
  --pink-200: #f5d5e8;
  --pink-300: #edb4d5;
  --pink-400: #e185b9;
  --pink-500: #d25698;
  --pink-600: #c1417f;
  --pink-700: #a63066;
  --pink-800: #8a2a55;
  --pink-900: #742749;
  --pink-950: #461128;
}

/* syntax highlighting */

.syntax-highlighter {
  color: var(--gray-900);
}

.syntax-highlighter .keyword {
  color: var(--purple-700);
}

.syntax-highlighter .punctuation {
  color: var(--gray-800);
}

.syntax-highlighter .attr-name {
  color: var(--blue-700);
}

.syntax-highlighter .attr-value {
  color: var(--red-700);
}

.syntax-highlighter .script {
  color: var(--gray-900);
}

.syntax-highlighter .operator {
  color: var(--gray-700);
}

.syntax-highlighter .plain-text {
  color: var(--gray-900);
}

.syntax-highlighter .tag {
  color: var(--green-700);
}

.syntax-highlighter .function {
  color: var(--purple-700);
}

.syntax-highlighter .language-javascript {
  color: var(--gray-900);
}

.syntax-highlighter .language-tsx {
  color: var(--gray-900);
}

/* Highlighting specific cases */

.syntax-highlighter .language-tsx .token.string {
  color: var(--blue-700);
}

.syntax-highlighter .language-tsx .token.comment {
  color: var(--gray-700);
}

.syntax-highlighter .language-tsx .token.plain-text {
  color: var(--gray-900);
}

.syntax-highlighter .language-tsx .token.script-punctuation {
  color: var(--gray-800);
}

.syntax-highlighter .language-tsx .token.function-variable {
  color: var(--blue-700);
}

.syntax-highlighter .language-tsx .token.boolean {
  color: var(--purple-700);
}

@media (prefers-color-scheme: dark) {
  .syntax-highlighter {
    color: var(--white);
  }

  .syntax-highlighter .keyword {
    color: var(--purple-300);
  }

  .syntax-highlighter .punctuation {
    color: var(--gray-400);
  }

  .syntax-highlighter .attr-name {
    color: var(--blue-300);
  }

  .syntax-highlighter .attr-value {
    color: var(--red-300);
  }

  .syntax-highlighter .script {
    color: var(--white);
  }

  .syntax-highlighter .operator {
    color: var(--gray-300);
  }

  .syntax-highlighter .plain-text {
    color: var(--white);
  }

  .syntax-highlighter .tag {
    color: var(--green-300);
  }

  .syntax-highlighter .function {
    color: var(--purple-300);
  }

  .syntax-highlighter .language-javascript {
    color: var(--white);
  }

  .syntax-highlighter .language-tsx {
    color: var(--white);
  }

  /* Highlighting specific cases */

  .syntax-highlighter .language-tsx .token.string {
    color: var(--blue-300);
  }

  .syntax-highlighter .language-tsx .token.comment {
    color: var(--gray-500);
  }

  .syntax-highlighter .language-tsx .token.plain-text {
    color: var(--white);
  }

  .syntax-highlighter .language-tsx .token.script-punctuation {
    color: var(--gray-400);
  }

  .syntax-highlighter .language-tsx .token.function-variable {
    color: var(--blue-300);
  }

  .syntax-highlighter .language-tsx .token.boolean {
    color: var(--purple-300);
  }
}

html {
  overflow-y: scroll;
}
